In [1]:
import pandas as pd

In [2]:
import pandas_ta as ta

In [7]:
import sys
sys.path.append('../')
from dl4time.data.databuilder import StockDataset, StockData, StockData_ensemble
from dl4time.data.preprocessing import MinMaxTransformation, NormalizationCurrentDay

In [9]:
dates = pd.date_range('2000-01-02','2017-10-11',freq='B')
aapl = StockData('aapl', dates, transformation=NormalizationCurrentDay())

In [20]:
aapl.data_raw['rsi'] = aapl.data_raw.rename(columns={'Close':'close'}).ta.rsi()

In [21]:
aapl.data_raw

               Close        rsi
2000-01-03    3.5833        NaN
2000-01-04    3.2810   0.000000
2000-01-05    3.3295   1.132992
2000-01-06    3.0416   1.056837
2000-01-07    3.1862   4.510783
...              ...        ...
2017-10-05  154.8300  48.241392
2017-10-06  154.7400  48.006083
2017-10-09  155.2800  49.586883
2017-10-10  155.3400  49.768694
2017-10-11  155.9900  51.786905

[4471 rows x 2 columns]